@font-face {
  font-family: "ProximaNova";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ProximaNova-Regular.woff") format("woff");
}

@font-face {
  font-family: "ProximaNova";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/ProximaNova-Light.woff") format("woff");
}

@font-face {
  font-family: "ProximaNova";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/ProximaNova-Bold.woff") format("woff");
}

@font-face {
  font-family: "GothamPro-Black";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/GothamPro-Black.woff") format("woff");
}

html {
  font-size: 10px;
  font-family: ProximaNova, sans-serif;
}

.container {
  margin: 0 5rem;
  position: relative;
}

p {
  color: #4e4e4e;
}

.section {
  margin-top: 5rem;
  position: relative;
  padding-top: 15rem;
}

.separator {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.title {
  font-size: 10rem;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  font-weight: 400;
  line-height: 0.8;
  color: #4e4e4e;
}

.title:before {
  background: url(../img/header-before.png) no-repeat;
  display: block;
  height: 7rem;
  content: "";
}

.mainscreen__wrapper .title:before {
  height: 4rem;
}

.author {
  display: flex;
  align-items: center;
}

.author__wrapper {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin-right: 1.5rem;
  position: relative;
}

.author__wrapper img {
  position: absolute;
  border-radius: 50%;
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.author__name {
  font-weight: 300;
  font-size: 2rem;
  font-style: normal;
}

.dflex {
  display: flex;
}

.nextpage {
  position: absolute;
  bottom: -4rem;
  right: 10%;
  text-decoration: none;
  font-weight: 400;
  font-size: 2.5rem;
  color: #98b8f6;
}

.nextpage i {
  margin-left: 2rem;
}

.textual {
  font-weight: 300;
  padding-bottom: 1rem;
  font-size: 3rem;
}

.textual-big {
  font-size: 4rem;
  padding: 2rem 0;
  font-weight: 400;
}

.img__wrapper {
  overflow: hidden;
  position: relative;
  border: 1rem solid #ffffff;
  margin: 1rem;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
}

.img__wrapper img {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.welcome {
  background: url(../img/advent_backg.jpg);
  background-position: 50% 50%;
  background-size: cover;
  min-height: 100vh;
  padding-bottom: 30rem;
}

.menu__wrapper {
  position: absolute;
  top: 5.2rem;
  width: 100%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  padding: 3.5rem;
  box-sizing: border-box;
}

.menu__wrapper .search {
  margin: 0;
  margin-left: 3.5rem;
}

.menu__wrapper .search i {
  font-size: 3rem;
  color: #c1b2b1;
}

.menu__wrapper .search input {
  width: 0;
  border: none;
}

.navigation {
  margin-left: auto;
  display: flex;
  align-content: center;
  width: 50%;
}

.navigation__item {
  text-decoration: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navigation__item a {
  text-decoration: none;
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 0.16rem;
  font-weight: 400;
  color: #c1b2b1;
  padding: 0;
  margin: 0;
}

.navigation ul {
  display: flex;
  align-content: center;
  justify-content: space-between;
  padding: 0;
  width: 100%;
}

.whiteheader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  text-align: center;
}

.whiteheader a {
  text-decoration: none;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 50px;
  padding: 2.5rem 5rem;
  margin: 2.5rem 5rem;
  font-size: 2.5rem;
}

.mainscreen__header {
  margin-bottom: 8rem;
  color: #ffffff;
  letter-spacing: 0.2em;
}

.mainscreen__text {
  color: #ffffff;
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: .3em;
  margin-bottom: 1rem;
}

.impressive {
  margin-top: -300px;
}

.impressive__wrapper {
  z-index: 2;
}

.impressive__text {
  font-weight: 500;
  font-size: 3rem;
}

.impressive__images {
  position: relative;
  z-index: 0;
  margin-left: -8rem;
  display: flex;
  margin-top: -11rem;
  width: 70%;
}

.impressive__images .img__wrapper {
  width: 40%;
  height: 40%;
}

.section__left {
  width: 40%;
}

.section__left .img__wrapper {
  height: 100%;
  width: 100%;
}

.section__right {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  margin-left: 4rem;
}

.circle {
  width: 10%;
  margin-left: auto;
}

.circle img {
  margin-top: 8rem;
  width: 100%;
}

.about__wrapper {
  width: 66%;
  position: relative;
}

.square {
  position: relative;
  width: 33%;
}

.square img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
}

.gallery {
  margin-bottom: 20rem;
}

.gallery .img__wrapper {
  height: 40rem;
  margin-right: 40px;
  width: 30rem;
  height: 40rem;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
}

.gallery .img__wrapper img {
  top: 0;
  left: 0;
  height: 60%;
  min-height: 60%;
  transform: none;
}

.gallery .img__wrapper h4 {
  position: absolute;
  bottom: 0;
  font-weight: 500;
  font-size: 2rem;
}

.gallery .img__wrapper time {
  position: absolute;
  bottom: 0;
  font-weight: 300;
  font-size: 2rem;
}

.slider {
  display: flex;
  margin-top: 3rem;
  position: relative;
}

.journal {
  margin-top: 35rem;
  background: url(../img/journal.jpg) no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  position: relative;
  min-height: calc(100vh + 20rem);
  color: #ffffff;
  padding-bottom: 12rem;
}

.journal .title {
  margin-top: -23rem;
}

.journal .crosses {
  position: absolute;
  top: -10rem;
  left: 50%;
  transform: translate(-50%, 0);
}

.journal .triangle {
  position: absolute;
  top: 25%;
  left: 85%;
  transform: translate(-50%, -50%);
}

.journal__newpage {
  font-family: 'Roboto', sans-serif;
  position: absolute;
  letter-spacing: 0.3em;
  right: 2rem;
  bottom: 2rem;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 2rem;
  font-weight: 500;
}

.journal__newpage i {
  margin-left: 0.5rem;
}

.journal__header {
  margin-top: 100px;
  text-align: center;
  font-weight: 300;
  position: relative;
  z-index: 2;
}

.journal__header h3 {
  font-size: 5rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.journal__header p {
  font-size: 2rem;
  color: #9c9c9c;
}

.article {
  display: flex;
  position: relative;
  z-index: 2;
}

.article__item {
  width: 35%;
}

.article__header {
  font-weight: 400;
  font-size: 2.5rem;
}

.article__text {
  font-size: 1.8rem;
  font-weight: 300;
  margin: 0;
  padding-left: 2rem;
  width: 100%;
  position: relative;
  color: #9c9c9c;
  height: 10rem;
  overflow: hidden;
}

.article__text:before {
  position: absolute;
  top: 0;
  left: 0rem;
  display: block;
  width: 1px;
  height: 4rem;
  background-color: #9c9c9c;
  content: "";
}

.article .author {
  margin: 0 auto;
  text-align: center;
  padding: 2rem 0;
}

.img_devider {
  background: url(../img/img_divider.png) no-repeat;
  width: 20%;
  background-position: 50% 50%;
}

.numberofcat {
  position: relative;
  margin-top: 10rem;
  font-size: 30rem;
  font-weight: 300;
  color: #ffffff;
  text-align: right;
  width: 90%;
}

.daybyday {
  box-shadow: 0px -20px 300px 300px black;
  position: relative;
}
